In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'Data-Science/chipotle.tsv', sep = '\t')

In [3]:
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# See the first 10 entries
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# What is the number of observations in the dataset?
data.shape

(4622, 5)

In [6]:
# What is the number of columns in the dataset?
len(data.columns)

5

In [7]:
# Print the name of all the columns.
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
# Which was the most ordered item?
most_ordered_item = data['item_name'].value_counts().idxmax()

# How many items were ordered?
max_count = data['item_name'].value_counts().max()

print("The most ordered Item is '",most_ordered_item,"' with maximum count ",max_count)

The most ordered Item is ' Chicken Bowl ' with maximum count  726

In [9]:
# How many items were orderd in total?
total_items = data['quantity'].sum()
total_items

4972

In [10]:
# How much was the revenue for the period in the dataset?

# Convert the 'Amount' column to numeric
data['item_price'] = data['item_price'].str.replace('$', '').astype(float)

# Total Revenue
total_revenue = data['item_price'].sum()
total_revenue

34500.16

In [11]:
# How many orders were made in the period?
total_orders = len(data['order_id'].unique())
print("Total number of orders made in the period :",total_orders)

Total number of orders made in the period : 1834

In [13]:
# How many different items are sold?
unique_items_sold = len(data['item_name'].unique())
print("Number of different items sold :",unique_items_sold)

Number of different items sold : 50