# String :
Anything defined in single quotes (' ') and double quotes (" ") in python is treated as a string.

In [1]:
str = "Welcome to Python Programming"
print(str)  #prints complete string

Welcome to Python Programming

In [2]:
# Print first character of the string
print(str[0])

W

In [3]:
# Print charachters starting from 11th index to 17th index
print(str[11:17])

Python

In [4]:
# Print starting from 11th position
print(str[11:])

Python Programming

In [5]:
# Printing string 2 times
print(str*2)

Welcome to Python ProgrammingWelcome to Python Programming

In [6]:
# Concatinating a string with another String
print(str+" Session")

Welcome to Python Programming Session

In [7]:
# String formatting Functions :
# len(string) - Returns the Length of String
print(len(str))

29

In [8]:
s = "Learing Python is fun!"
print(len(s))

22

In [9]:
# Lower
print(s.lower())

learing python is fun!

In [10]:
# Upper - prints a copy of the string in which all lowercase alphabets are converted to uppercase alphabets
print(s.upper())

LEARING PYTHON IS FUN!

In [11]:
# Swapcase
a = "LEARNING PYthon is fun!"
print(a.swapcase())

learning pyTHON IS FUN!

In [12]:
# Capitalize - retrurns a copy the string with only its first letter capitalized
b = "learning python is fun!"
print(b.capitalize())

Learning python is fun!

In [13]:
# isalpha
c = "This is Python12345"
print(c.isalpha())

False

In [14]:
type(s)

str

In [15]:
d = "Python"
print(d.isalpha())

True

In [16]:
# join(str) -joined
s = "-"
seq = ("Python","Programming")
print(s.join(seq))

Python-Programming

In [17]:
s = "*"
seq = ("Python","Programming")
print(s.join(seq))

Python*Programming

In [21]:
# Program to reverse the order of a string
str = "Python"
reversed_str = str[::-1]
print(reversed_str)

nohtyP

In [24]:
# To check whether the string is Palindrome or Not
str = "welcome"
reversed_str = str[::-1]
print("Reversed String : ",reversed_str)

if(str==reversed_str) :
    print("The string is Palindrome")
else :
    print("String is not Palindrome")

Reversed String :  emoclew
String is not Palindrome

#

# List

In [ ]:
# List of Integers

x = [1,2,3,4,5]
print(x)
print(type(x))

In [ ]:
# List of float

y = [18.22, 22.18, 18.16, 21.018]
print(y)

In [ ]:
# List with mixed datatypes

a = [18, 10, 22.10, "Hello World"]
print(a)

In [ ]:
# Create a list using range

b = list(range(5))
b

In [ ]:
c = list(range(5,10))
c

In [ ]:
d = list(range(5,10,2))
d

In [ ]:
e = list(range(1,10,3))
e

In [ ]:
f = list(range(10,0,-2))
f

In [1]:
firstlist = ['abcd', 147, 22.18, 'TOM' ]
smalllist = [111, 'Tom']
print(firstlist)
print(smalllist)

['abcd', 147, 22.18, 'TOM']
[111, 'Tom']

In [2]:
print(firstlist[1:4])  #prints element starting from 2nd till 3rd position

[147, 22.18, 'TOM']

In [3]:
print(firstlist*2)  #prints list two times

['abcd', 147, 22.18, 'TOM', 'abcd', 147, 22.18, 'TOM']

In [4]:
print(firstlist+smalllist)  #prints concatenated list

['abcd', 147, 22.18, 'TOM', 111, 'Tom']

In [8]:
# Deleting an element from a list

firstlist = ['abcd', 147, 22.18, 'TOM' ]
print("List Before Deletion : ",firstlist)
del firstlist[3]
print("List After Deletion : ",firstlist)

List Before Deletion :  ['abcd', 147, 22.18, 'TOM']
List After Deletion :  ['abcd', 147, 22.18]

In [9]:
# len(list)
firstlist = ['abcd', 147, 22.18, 'TOM' ]
print(len(firstlist))

4

In [11]:
# max(list) - prints element from a list with maximum value
# min(list) - prints element from a list with minimum value

l1 = [18, 22, 16, 21, 30]
print("Maximum = ",max(l1))
print("Minimum = ",min(l1))

Maximum =  30
Minimum =  16

In [12]:
# list.append(obj) - this method appends object obj passed to the existing list
firstlist = ['abcd', 147, 22.18, 'TOM' ]
print("Old list before Append : ",firstlist)
firstlist.append(100)
print("New list after Append : ",firstlist)

Old list before Append :  ['abcd', 147, 22.18, 'TOM']
New list after Append :  ['abcd', 147, 22.18, 'TOM', 100]

In [13]:
firstlist[2] = "fgh"
firstlist

['abcd', 147, 'fgh', 'TOM', 100]

In [14]:
# list.count(obj) - returns how many times the object obj appears in a list
l = ['abcd', 147, 22.18, 'TOM','abcd', 147, 22.18]
l.count('abcd')

2

In [17]:
# list.remove(obj) - removes object obj from the list
firstlist = ['abcd', 147, 22.18, 'TOM' ]
del firstlist[2]
firstlist

firstlist.remove('TOM')
firstlist

['abcd', 147]

#

# Tuple

In [1]:
first_tuple = ('abcd', 147, 2.43, 'Tom', 74.9)
small_tuple = (111, 'Tom')
print(first_tuple)

('abcd', 147, 2.43, 'Tom', 74.9)

In [2]:
print(small_tuple*2)

(111, 'Tom', 111, 'Tom')

In [3]:
print(first_tuple + small_tuple)

('abcd', 147, 2.43, 'Tom', 74.9, 111, 'Tom')

In [4]:
# len(tuple) - Gives the total length of the tuple
tuple1 = ('abcd', 147, 2.43, 'Tom')
print(len(tuple1))

4

In [5]:
# max(tuple) - returns item from the tuple with maximum value
tuple1 = (1200, 147, 2.34, 1.12)
tuple2 = (213, 100, 289)
print("Maximum value in ",tuple1," is : ",max(tuple1))
print("Maximum value in ",tuple2," is : ",max(tuple2))

Maximum value in  (1200, 147, 2.34, 1.12)  is :  1200
Maximum value in  (213, 100, 289)  is :  289

In [6]:
# min(tuple) - returns item from the tuple with minimum value
tuple1 = (1200, 147, 2.34, 1.12)
tuple2 = (213, 100, 289)
print("Minimum value in ",tuple1," is : ",min(tuple1))
print("Minimum value in ",tuple2," is : ",min(tuple2))

Minimum value in  (1200, 147, 2.34, 1.12)  is :  1.12
Minimum value in  (213, 100, 289)  is :  100

#

# Set

In [7]:
s1 = {1,2,3}   #Set of integer numbers
print(s1)

{1, 2, 3}

In [8]:
s2 = {1,2,3,2,1,2}   #Output contains only unique values
print(s2)

{1, 2, 3}

In [9]:
s3 = {1, 2.4, 'apple', 'Tom', 3}   #Set of mixed datatypes
print(s3)

{1, 2.4, 3, 'Tom', 'apple'}

In [10]:
#len(set) - returns the length or total number of items in a set
set1 = {'abcd', 147, 2.43, 'Tom'}
print(len(set1))

4

In [14]:
# max(set) - returns item from the set with maximum value
set1 = {1200, 147, 2.34, 1.12}
set2 = {213, 100, 289}
print("Maximum value in ",set1," is : ",max(set1))
print("Maximum value in ",set2," is : ",max(set2))

Maximum value in  {1200, 1.12, 2.34, 147}  is :  1200
Maximum value in  {289, 100, 213}  is :  289

In [13]:
# min(set) - returns item from the set with minimum value
set1 = {1200, 147, 2.34, 1.12}
set2 = {213, 100, 289}
print("Minimum value in ",set1," is : ",min(set1))
print("Minimum value in ",set2," is : ",min(set2))

Minimum value in  {1200, 1.12, 2.34, 147}  is :  1.12
Minimum value in  {289, 100, 213}  is :  100

In [15]:
# sum(set) - returns the sum of all items in the set
set1 = {1200, 147, 2.34, 1.12}
set2 = {213, 100, 289}
print("Sum of all items in ",set1," is : ",sum(set1))
print("Sum of all items in ",set2," is : ",sum(set2))

Sum of all items in  {1200, 1.12, 2.34, 147}  is :  1350.4599999999998
Sum of all items in  {289, 100, 213}  is :  602

In [16]:
# sorted(set)
set1 = {1200, 147, 2.34, 1.12}
set2 = {213, 100, 289}
print("Elements before sorting ",set1)
print("Elements after sorting", sorted(set1))

Elements before sorting  {1200, 1.12, 2.34, 147}
Elements after sorting [1.12, 2.34, 147, 1200]

In [18]:
# set.add(obj) - adds an element obj to a set
set1 = {3,8,2,6}
set1.add(9)
print("Set1 after adding new element : ",set1)

Set1 after adding new element :  {2, 3, 6, 8, 9}

In [19]:
# set.remove(obj)
set1 = {3,8,2,6}
set1.remove(3)
print("Set1 after deleting an element : ",set1)

Set1 after deleting an element :  {8, 2, 6}

In [17]:
# set.union(set2) - returns the union of two sets as a new set
set1 = {3,8,2,6}
print("Set1 : ",set1)
set2 = {7,8,5,1}
print("Set2 : ",set2)
set3 = set1.union(set2)
print("Union : ",set3)

Set1 :  {8, 2, 3, 6}
Set2 :  {8, 1, 5, 7}
Union :  {1, 2, 3, 5, 6, 7, 8}

#

# Assignment

In [21]:
#write a python script that takes input from the user and displays that input back in upper and lower cases
script = str(input("Enter a string : "))
print("String in upper case : ",script.upper())
print("String in lower case : ",script.lower())

Enter a string : Prachi
String in upper case :  PRACHI
String in lower case :  prachi

In [23]:
#write a python program to get largest number from a list
l1 = [18, 18.22, 22.21, 100, 30]
print("Largest number from list ",l1," is : ",max(l1))

Largest number from list  [18, 18.22, 22.21, 100, 30]  is :  100

In [24]:
#program to find the biggest of three numbers
a = 10
b = 20
c = 30
if(a>b & a>c) :
    print(a," is largest")
elif(b>a & b>c) :
    print(b," is largest")
else :
    print(c," is largest")

30  is largest

#

# Dictionary

In [25]:
thisdict = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(thisdict)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [26]:
tinydict = {'Name' : 'John', 'Code' : 6734, 'Dept' : 'Sales' }
print(tinydict)   #Prints complete dictionary
print(tinydict.keys())   #Prints all the keys
print(tinydict.values())   #Prints all the values

{'Name': 'John', 'Code': 6734, 'Dept': 'Sales'}
dict_keys(['Name', 'Code', 'Dept'])
dict_values(['John', 6734, 'Sales'])

In [27]:
# We can update a dictionary by adding a new key-value pair or modifying an existing entry
dict1 = {'Name' : 'Tom', 'Age' : 20, 'Height' : 160}
print(dict1)
dict1['Age'] = 25   #updating a value
print(dict1)

{'Name': 'Tom', 'Age': 20, 'Height': 160}
{'Name': 'Tom', 'Age': 25, 'Height': 160}

In [28]:
dict1['Weight']=60   #Adding a new key-value pair
print(dict1)

{'Name': 'Tom', 'Age': 25, 'Height': 160, 'Weight': 60}

In [29]:
#we can delete the entire dictionary elements or individual elements in a dictionary.
#we can use del statement to delete the dictionary completely
dict1 = {'Name' : 'Tom', 'Age' : 20, 'Height' : 160}
print(dict1)
del dict1['Age']   #Deleting key-value pair 'Age':20
print("Dictionary after deletion : ",dict1)
dict1.clear()
print(dict1)

{'Name': 'Tom', 'Age': 20, 'Height': 160}
Dictionary after deletion :  {'Name': 'Tom', 'Height': 160}
{}

In [32]:
# Built-in Functions
# len(dict) - gives the length of a dictionary
dict1 = {'Name' : 'Tom', 'Age' : 20, 'Height' : 160}
print(dict1)
print("Length of the dictionary = ",len(dict1))

{'Name': 'Tom', 'Age': 20, 'Height': 160}
Length of the dictionary =  3

In [33]:
# dict.copy() - returns a copy of the dictionary
dict1 = {'Name' : 'Tom', 'Age' : 20, 'Height' : 160}
print(dict1)
dict2 = dict1.copy()
print(dict2)

{'Name': 'Tom', 'Age': 20, 'Height': 160}
{'Name': 'Tom', 'Age': 20, 'Height': 160}

In [35]:
#write a python script to merge two dictionaries
d1 = {'a':100, 'b':200}
d2 = {'x':300, 'y':200}
print("Dictionary1 : ",d1)
print("Dictionary2 : ",d2)
d = d1.copy()
d.update(d2)
print("Merged Dictionary : ",d)

Dictionary1 :  {'a': 100, 'b': 200}
Dictionary2 :  {'x': 300, 'y': 200}
Merged Dictionary :  {'a': 100, 'b': 200, 'x': 300, 'y': 200}